<div id="dashboard">
   <div id="requests-outstanding">
      <p>Requests outstanding: {{requestsOutstanding}}</p>
   </div>
   
   <div id="add-new-book" class="button-type-1" ng-click="nav.showBookSubmission()" ng-show="addingBook === false">Add a book</div>
   <div id="book-management" ng-if="addingBook === true" ng-hide="addingBook === false">
      <div class="account-well">  
         <p>Title</p>
         <input id="submit-book-title-input" type="text" placeholder="Hammers On Bone" id="contactName">
      </div> 
      
      <div class="account-well">
         <p>Author</p>
         <input id="submit-book-author-input" type="text" placeholder="Cassandra Khaw" id="contactName">
      </div> 
      
      <div class="account-well">
         <p>Genre</p>
         <input id="submit-book-genre-input" type="text" placeholder="Children's" id="contactName">
      </div> 
      
   </div>
   <div id="submit-success-container" class="relative-parent">
      <div id="submit-book" class="button-type-1" ng-if="addingBook === true" ng-click="nav.submitBook()">Submit</div>
      <p id="submit-book-success"></p>
   </div>
   
</div>