body {
  margin: 0px;
  padding-top: 50px; }

.center-column {
  display: flex;
  justify-content: center; }

#nav-container {
  width: 100%;
  position: fixed;
  overflow: visible;
  top: 0px;
  overflow: auto;
  display: flex;
  justify-content: space-between;
  font-family: 'Poppins';
  background-color: aliceblue;
  height: 50px; }
  #nav-container #logo {
    font-size: 1.8em;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px;
    font-weight: 100; }

nav {
  width: 500px;
  height: 100%;
  list-style: none;
  display: flex;
  justify-content: flex-start; }
  nav ul {
    margin: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%; }
  nav li {
    height: 75%;
    width: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-left: 1px solid #c8c8c8;
    transition: 0.2s; }
    nav li:nth-last-child(1) {
      border-right: 1px solid #c8c8c8; }
    nav li:hover {
      background-color: #f4f4f4;
      cursor: pointer; }
    nav li #all-books {
      text-decoration: underline; }
    nav li #my-books {
      text-decoration: none; }

a {
  text-decoration: none;
  color: black; }

#book-browser-splash {
  display: flex;
  flex-direction: column; }

h3 {
  margin: 20px;
  margin-top: 40px;
  margin-bottom: 0px; }

#listing-container {
  display: flex;
  flex-direction: row; }

.book-listing {
  position: relative;
  z-index: 1;
  min-height: 300px;
  min-width: 200px;
  margin: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  transition: 0.3s;
  position: relative; }
  .book-listing img {
    width: 200px;
    height: auto;
    margin-bottom: 10px;
    position: absolute; }
  .book-listing .blurb {
    position: absolute;
    bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center; }
    .book-listing .blurb p {
      margin: 0px;
      font-family: 'poppins';
      font-size: 12px; }
  .book-listing:hover img {
    width: 220px;
    height: auto; }

#book-requested-notice {
  background-color: gainsboro; }

#account-access {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  font-family: 'poppins'; }
  #account-access #account-box {
    position: relative;
    z-index: 100;
    margin-top: 50px;
    padding: 10px;
    width: 400px;
    height: 300px;
    border-radius: 4px;
    background-color: #fafafa; }
  #account-access .account-well {
    margin-bottom: 5px; }
  #account-access p {
    margin: 0px; }
  #account-access #submitLoginButton {
    margin-bottom: 0px; }
  #account-access #login-failed {
    font-size: 12px;
    color: rgba(255, 30, 30, 0.7); }

#account-creation-failed {
  font-size: 12px;
  color: rgba(255, 30, 30, 0.7); }

.button-type-1 {
  background-color: gainsboro;
  display: inline-block;
  padding-left: 5px;
  padding-right: 5px; }
  .button-type-1:hover {
    background-color: #f4f4f4;
    cursor: pointer; }

.relative-parent {
  position: relative;
  height: 100%; }

.account-access-bottom-buttons {
  position: absolute;
  bottom: 10px; }

#dashboard {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  #dashboard #requests-outstanding p {
    font-family: 'lora';
    margin: 5px; }
  #dashboard #book-management {
    display: flex; }
    #dashboard #book-management div {
      margin: 5px; }
  #dashboard #submit-book-success {
    font-size: 12px;
    color: rgba(30, 150, 30, 0.7);
    position: absolute;
    bottom: -40px;
    width: 100px; }

#individual-book-listing {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  font-family: 'poppins'; }
  #individual-book-listing #individual-book-box {
    margin-top: 50px;
    padding: 10px;
    width: 400px;
    height: 550px;
    border-radius: 4px;
    background-color: #fafafa;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: beige; }
    #individual-book-listing #individual-book-box img {
      width: 300px;
      height: auto;
      margin: 10px; }
    #individual-book-listing #individual-book-box p {
      margin: 2px;
      margin-left: 20px;
      width: 100%; }
  #individual-book-listing #request-book-button:hover {
    background-color: #f4f4f4;
    cursor: pointer; }

.invisible-to-click-event {
  pointer-events: none; }

::-webkit-input-placeholder {
  /* WebKit, Blink, Edge */
  color: rgba(0, 0, 0, 0.3); }

:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: rgba(0, 0, 0, 0.3); }

::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: rgba(0, 0, 0, 0.3); }

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: rgba(0, 0, 0, 0.3); }

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: rgba(0, 0, 0, 0.3); }
